.client {
  padding-top: 60px;
  padding-bottom: 60px;

  &__title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    color: $main-black-color;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    margin: -15px;
  }

  &__card {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);

    @media screen and (min-width: 768px) {
      width: calc((100% - 6 * 15px) / 3);
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px 0;

    color: $social-icon-color;
    border: 1px solid $social-icon-color;
    border-radius: 4px;

    transition: color 250ms $animation-cube, border 250ms $animation-cube;

    &:hover,
    &:focus {
      color: $accent-blue-color;
      border: 1px solid $accent-blue-color;
    }
  }

  .client__icon {
    fill: currentColor;
  }
}
