.feature {
  padding-top: 60px;
  padding-bottom: 60px;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;

    border-radius: 4px;
    background-color: $main-bottun-color;
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: $main-black-color;
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
