.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 60px;
  z-index: 9;
  border-bottom: 1px solid #ececec;

  &__menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 10;

    @media screen and (min-width: 768px) {
      display: none;
    }

    &:hover,
    &:focus {
      fill: $accent-blue-color;
    }

    .header__icon-close {
      display: none;
    }

    &.is-open .header__icon-close {
      display: block;
      fill: currentColor;
      &:hover,
      &:focus {
        fill: $accent-blue-color;
      }
    }

    &.is-open .header__icon-menu {
      display: none;
    }
  }

  &__list {
    display: flex;

    @media screen and (max-width: 767px) {
      pointer-events: none;
      visibility: hidden;

      display: none;
      padding: 48px 40px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      background-color: #fff;
    }

    &.is-open {
      display: block;
      pointer-events: initial;
      visibility: visible;
    }
  }
}
