.social-list {
  display: flex;
  padding-bottom: 30px;
  justify-content: center;
}

.social-list__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  color: $social-icon-color;
  border-radius: 50%;

  transition: background-color 250ms $animation-cube, color 250ms $animation-cube;

  &:hover,
  &:focus {
    background-color: $accent-blue-color;
    color: $main-white-color;
  }
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list__icon {
  fill: currentColor;
}
